{% if description %}
    <p class="form-section__description">{{ description }}</p>
{% endif %}
<div class="form-section__content">
    {% for item in items %}
        {{ item | raw }}
    {% endfor %}
</div>
