
.cv-register-button {

}

.wp-block-add-to-cart-form {
    display: none;
}

.training-info > div {
    flex-grow: 1;
    flex-shrink: 1;
}

.training-info.e-con.e-flex {
    display: flex;

    --flex-direction: row;
    background-color: #E9F3FF;
}
.training-info.e-con.e-flex:nth-child(even) {
    background-color: #E9F3FF21;
}
.training-info:first-of-type {
    border-radius: 15px 15px 0 0;
}
.training-info:last-of-type {
    border-radius: 0 0 15px 15px;
}
.training-info--start.e-con.e-flex {
    --flex-direction: row;
    gap: var(--row-gap) var(--column-gap);
}
.training-info--start--day h5 {
    text-transform: capitalize;
}

.training-info--start--day,
.training-info--start--date,
.training-info--location,
.training-info--show-info,
.training-info--apply {
    flex-shrink: 0;
}

.training-info--location {
    display: flex;
    gap: 10px;
    --flex-direction: row !important;
}
.training-info--location svg {
    fill: #569ba1;
    height: 21px;
    width: 21px;
}

.training-info h3, h5 {
    font-weight: var( --e-global-typography-primary-font-weight );
    color: var( --e-global-color-primary );
    line-height: 1;
    margin: 0;
    padding: 0;
}

.training-info h3 {
    font-size: 26px;
}

.training-info h5 {
    color: #6cb5bb;
    font-size: 16px;
}

.apply-button {
    font-size: 19px;
    font-weight: 700;
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    fill: var( --e-global-color-c69e287 );
    color: var( --e-global-color-c69e287 );
}
