:root {
    --cv-color-primary: #002250;
    --cv-color-secondary: #569aa1;
    --cv-color-accent: #c8f012;


    --button-primary-font-size: 18px;
    --button-primary-border-radius: 2rem;
    --button-primary-padding: 1rem 1.5rem;
}

.button-primary {
    background: var(--cv-color-accent);
    color: var(--cv-color-primary);

    border-radius: var(--button-primary-border-radius);
    padding: var(--button-primary-padding);
    font-size: var(--button-primary-font-size);
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
}
.button-primary:hover {
    filter: brightness(110%);
}