:root {
    --cv-color-blue-dark: #002250;
    --cv-color-teal-dark: #569aa1;
    --cv-color-teal-light: #aaccd0;
    --cv-color-teal-lighter: #edf9f9;
    --cv-color-green-light: #baebd4;
    --cv-color-green-bright: #c8f012;

    --cv-color-primary: var(--cv-color-blue-dark);
    --cv-color-secondary: var(--cv-color-teal-dark);
    --cv-color-accent: var(--cv-color-green-bright);
    --cv-color-tertiary: #aaccd0;


    --button-primary-font-size: 16px;
    --button-primary-border-radius: 2rem;
    --button-primary-padding: 1rem 1.5rem;
}

.button-primary {
    background: var(--cv-color-green-bright);
    color: var(--cv-color-blue-dark);

    border-radius: var(--button-primary-border-radius);
    padding: var(--button-primary-padding);
    font-size: var(--button-primary-font-size);
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
}
.button-primary:hover {
    background-color: var(--cv-color-green-bright);
    color: var(--cv-color-blue-dark);
    filter: brightness(110%);
}
