:root {
    --button-primary-bg: #c8f012;
    --button-primary-hover-bg: #d7ff60;
    --button-primary-color: #002250;
    --button-primary-font-size: 18px;
    --button-primary-border-radius: 2rem;
    --button-primary-padding: 1rem 1.5rem;
}

.button-primary {
    background: var(--button-primary-bg);
    color: var(--button-primary-color);

    border-radius: var(--button-primary-border-radius);
    padding: var(--button-primary-padding);
    font-size: var(--button-primary-font-size);
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
}
.button-primary:hover {
    background: var(--button-primary-hover-bg);
    color: var(--button-primary-color);
}