:root {
    --e-global-typography-text-font-family: 'Poppins';
    --e-global-color-primary: #002352;
    --e-global-color-secondary: #569BA1;
    --e-global-color-text: #202020;
    --e-global-color-accent: #C0E337;
    --e-global-color-accent-hov: #ACCC31;

    --cv-color-teal-light: #aaccd0;
    --cv-color-teal-lighter: #edf9f9;
    --cv-color-green-light: #baebd4;
    --cv-color-grey-darkest: #0f0f0f;
    --cv-color-grey-dark: #403f3f;

    /* Layout */
    --cv-gap: 1.5rem;
    --cv-gap-sm: 1rem;
    --cv-gap-md: 1.5rem;
    --cv-gap-lg: 2rem;
    --cv-max-width: 1400px;

    /* Spacing */
    --cv-space-xs: 0.5rem;
    --cv-space-sm: 0.75rem;
    --cv-space-md: 1rem;
    --cv-space-lg: 1.5rem;
    --cv-space-xl: 2.5rem;

    /* Border radius */
    --cv-radius-sm: .25rem;
    --cv-radius-md: .75rem;
    --cv-radius-lg: 1.5rem;


    /* Typography */
    --cv-font-size-xs: 11px;
    --cv-font-size-sm: 14px;
    --cv-font-size-md: 16px;
    --cv-font-size-lg: 18px;
    --cv-font-size-xl: 24px;
    --cv-font-size-base: 14px;

    --cv-font-weight-light: 300;
    --cv-font-weight-normal: 400;
    --cv-font-weight-semibold: 600;
    --cv-font-weight-bold: 700;
    --cv-line-height: 1.5;

    --cv-button-padding: 15px 24px;
    --cv-button-border-radius: 50px
}

/* plain button */
a.cv-button,
button.cv-button {
    font-family: var(--e-global-typography-text-font-family), sans-serif;
    color: var(--e-global-color-primary);
    font-size: var(--cv-font-size-sm);
    line-height: var(--cv-font-size-sm);
    font-weight: var(--cv-font-weight-semibold);
    padding: var(--cv-button-padding);
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
}

a.cv-button:hover,
a.cv-button:active,
a.cv-button:focus,
button.cv-button:hover,
button.cv-button:active,
button.cv-button:focus {
    color: var(--e-global-color-text);
    cursor: pointer;
}

/* call to action */
a.cv-button-cta,
button.cv-button-cta {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-primary);
    border-radius: var(--cv-button-border-radius);
}
a.cv-button-cta:hover,
a.cv-button-cta:active,
a.cv-button-cta:focus,
button.cv-button-cta:hover,
button.cv-button-cta:active,
button.cv-button-cta:focus{
    background-color: var(--e-global-color-accent-hov) !important;
}

/* button with border */
a.cv-button-outline,
button.cv-button-outline {
    border: 1px solid var(--e-global-color-text);
    border-radius: var(--cv-button-border-radius);
    background: white;
}
a.cv-button-outline,
a.cv-button-outline:focus,
a.cv-button-outline:active,
button.cv-button-outline,
button.cv-button-outline:focus,
button.cv-button-outline:active{
    border-color: var(--e-global-color-primary);
}

/** Flex helpers */
.d-flex {
    display: flex;
}
.flex {
    flex: 1;
}
.flex-grow {
    flex-grow: 1;
}
.flex-dir-col {
    flex-direction: column;
}
.justify-space-between {
    justify-content: space-between;
}