:root {
    --body-font: "Poppins", Roboto, Arial, sans-serif;
    --title-font: "d-dinregular", Roboto, Arial, sans-serif;
    --title-font-bold: "d-dindin-bold", Roboto, Arial, sans-serif;
    --bc-blue: #002352;
    --bc-blue-grey: #569BA1;
    --bc-green: #C0E337;
    --bc-blue-light: #E9F3FF;
    --bc-blue-grey-light: #EDF9FA;
    --bc-green-light: #BBEBD5;
    --red: #dc4a31;
}

.btn.btn-no-after:after,
button.btn-no-after:after{
    display: none !important;
}

.accordion-button[data-bs-toggle=collapse] i:last-of-type {
    transition: transform .2s ease-out;
    transform: rotate(180deg);
}

.accordion-button[data-bs-toggle=collapse].collapsed i:last-of-type {
    transform: rotate(0);
}

.header-color-blue,
.bc-bg-blue h5.header-color-blue {
    color: var(--bc-blue) !important;
}

.cv_block_wrapper {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,.3);
}

/* Form elements */
.form-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
    align-items: start;
}

.form-field__input,
.form-field__select {
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--bc-blue-grey-light);
    padding: 20px 16px !important;
    box-shadow: none;
    outline: none !important;
    background-color: var(--bc-blue-grey-light);
}

.form-field__select {
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-field__input:active,
.form-field__input:focus,
.form-field__select:active,
.form-field__select:focus {
    border: 1px solid var(--bc-blue-grey);
}


.form-field__input--error {
    border: 1px solid var(--red) !important;
}

.form-field__input--error:focus {
    border: 1px solid var(--bc-blue-grey) !important;
}

.form-field__input--textarea {
    min-height: 120px;
    resize: vertical;
}

.no-wrap {
    white-space: nowrap;
}