.meta-card,
.form-field-label,
.form-section__progress-text,
.register-form__summary-item-label {
    font-family: var(--body-font);
    color: var(--bc-blue);
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}


.register-page {
    padding: 180px 0;
}

.register-page__feedback {
    display: none;
}

/* Progress Bar */
.form-section__progress-bar--wrapper {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.form-section__progress-bar {
    background-color: var(--bc-blue);
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

/** Participant form section header */
.register-form__participant-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Wizard Form Section Wrapper */
.form-section-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    padding: 0px 4px; /* to show input outlines */
}

/* Form Step Sections */
.form-section__step {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.form-section__step.active {
    position: relative;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.form-section__step.inactive {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

/* Slide animations */
.form-section__step.slide-in-right {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.form-section__step.slide-in-left {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.form-section__step.slide-out-left {
    opacity: 0;
    transform: translateX(-100%);
}

.form-section__step.slide-out-right {
    opacity: 0;
    transform: translateX(100%);
}


/** Cart contents */
.register-page__cart--item {
    display: flex;
    flex-direction: column;
}

.register-page__cart--total {
    display: flex;
    justify-content: space-between;
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 600;
    border-top: 1px solid var(--bc-blue);
}


/* Form Group */
.form-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
    align-items: start;
}

.form-field__input--error {
    border: 1px solid var(--red) !important;
    box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.1) !important;
}

.form-field__input--error:focus {
    border: 1px solid var(--red) !important;
    box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.2) !important;;
}

.form-field__input--textarea {
    min-height: 120px;
    resize: vertical;
}

/** form summary */
.register-form__summary-item-label {
    color: var(--bc-blue-grey)
}