:root {
    --background-color: #edf9f9;
    --filter-panel-bg-color: rgba(0,0,0,0.3);
    --filter-panel-padding: 2rem;
    --filter-panel-header-color: #002352;
    --filter-panel-border-color: #d5e6e7;
}


/* Base layout */
.coachview-search {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.coachview-search__content {
    width: 100%;
    max-width: 1400px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Search bar */
.coachview-search__bar {
    padding: 1rem 0;
    display: flex;
}

.coachview-search__input {
    width: 50%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}


.coachview-search__filters-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: var(--filter-panel-padding);
    background: var(--filter-panel-bg-color);
    z-index: 1;
}

.coachview-search__filters {
    width: 300px;
    height: 100%;
    padding: 1rem;
    background: #FFF;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.coachview-search__filters-title {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--filter-panel-header-color);
    border-bottom: 1px solid var(--filter-panel-border-color);
    padding-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.coachview-search__filters-title a {
    color: inherit;
    font-weight: 200;
    font-size: 2rem;
    text-decoration: none;
}

.coachview-search__category-parent {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--filter-panel-header-color);
    border-bottom: 1px solid var(--filter-panel-border-color);
    padding-bottom: 0.25rem;
}

.coachview-search__category-children {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.coachview-search__category-label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
    cursor: pointer;
}

.coachview-search__results {
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(auto, max-content);
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 2rem;
}

.coachview-search__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #eee;
    border-top: 4px solid #0073aa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: coachview-spin 0.8s linear infinite;
    display: none;
    z-index: 10;
}

@keyframes coachview-spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}