:root {
    --start-dates-gap: 20px;
    --start-dates-padding: 20px;
    --start-dates-icon-width: 20px;
    --start-dates-icon-to-txt-gap: 12px;
    --start-dates-font-size: 16px;
    --start-dates-header-font-size: 18px;
    --border-color: rgba(86, 155, 161, .25);
}

.training-start-dates {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.training-start-dates__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.training-start-dates__header-left,
.training-start-dates__header-right {
    padding: var(--start-dates-padding);
}

.training-start-dates__header-left {
    display: grid;
    column-gap: var(--start-dates-gap);
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--start-dates-padding);
}

.training-start-dates__header-right {
    display: flex;
    justify-content: flex-end;
    gap: var(--start-dates-gap);
}

.accordion-button {
    width: unset;
}

.training-start-dates__header-info {
    color: var(--bc-blue);
    font-size: var(--start-dates-header-font-size);
    font-weight: 500;
    display: flex;
    align-items: center;
}


.training__planning-header {
    font-size: 1.25rem;
    color: var(--bc-blue);
    font-weight: 600;
    margin-bottom: 0.7rem;
}
.training__planning-lessons li {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 0.5rem;
    font-size: var(--start-dates-font-size);
}


@media (max-width: 1000px) {
    :root {
        --start-dates-padding: 12px 20px;
        --start-dates-header-font-size: 16px;
    }
    .training-start-dates__header {
        grid-template-columns: 1fr;
    }

    .training-start-dates__header-right {
        border-top: 1px solid var(--border-color);
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .training__planning-lessons li {
        grid-template-columns: auto;
    }

    .training__planning-lessons-description {
        grid-column: span 2;
    }

    .training__planning-lessons-date,
    .training__planning-lessons-time {
        grid-row: 2;
        margin-bottom: 0.5rem;
    }
}