:root {
    --start-dates-gap: 12px;
    --start-dates-icon-width: 20px;
    --start-dates-icon-to-txt-gap: 12px;
}

.training-start-dates {
    display: flex;
    background: var(--cv-color-blue-dark);
    justify-content: center;
    padding: 2em;
}

.training-type {
    flex-grow: 1;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: var(--start-dates-gap);
    padding: 16px;
    box-sizing: border-box;
}

.training {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 1.5rem;
}

.training__header {
    display: flex;
    color: var(--cv-color-blue-dark);
}

.training__header-left,
.training__header-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.training-right {
    justify-content: space-between;
}

.training__show-planning {
    background: none;
    border: 0;
    text-decoration: none;
}

.training__date,
.training__price,
.training__location,
.training__show-planning {
    font-size: var(--wp--preset--font-size--medium);
    color: inherit;
    flex-basis: 25%;
    font-weight: 400;
    display: flex;
    gap: var(--start-dates-icon-to-txt-gap);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.training__icon {
     width: var(--start-dates-icon-width);
}

/** Show planning buttons **/
a.training__show-planning {
    flex-basis: 50%;
}

a.training__show-planning:hover {
    text-decoration: underline;
}

.training__show-planning-icon {
    transform-origin: center;
    transition: transform 0.3s ease;
    width: 16px;
}

.training.opened .training__show-planning-icon {
    transform: rotate(180deg);
}

.training__planning {
    display: none;
    border-top: 1px solid var(--cv-color-teal-light);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    color: var(--cv-color-blue-dark);
    font-size: var(--wp--preset--font-size--small);
}

.training__planning h3 {
    font-size: var(--wp--preset--font-size--medium);
    font-weight: bold;
    margin: 0.5rem 0;
}
.training__planning-lessons {
    margin: 0 0 .5rem 0;
}
.training__planning-lessons li div {
    display: flex;
}
.training__planning-lessons li div > span {
    flex-basis: 25%;
}
.training__planning-lessons li div > span.training__planning-lessons-description {
    flex-basis: 40%;
}

.flex-grow {
    flex-grow: 1;
}