.coachview-search__results {
    display: grid;
    box-sizing: border-box;
    overflow: visible;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

@media (min-width: 1200px) {
    .coachview-search__results {
        column-gap: 48px;
        row-gap: 48px;
    }
}

.coachview-search__filters-wrapper {
    z-index: 1030;
    display: none;
}

.coachview-search__input-wrapper {
    flex: 1 1 auto;
    position: relative;
}

.coachview-search__input-wrapper input {
    font-size: 14px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #569ba1;
    padding: 14px 12px !important;
    box-shadow: none;
    background-color: #fff;
}

.coachview-search__input-wrapper button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    box-shadow: none;
    background-color: #569ba1;
    border-radius: 0 4px 4px 0;
    padding: 0;
}


.training-type-search-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.training-type-search-item .bc-wrapper-inner__title {
    height: 10.5rem;
}

.training-type-search-item .bc-wrapper-inner__title .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.training-type-search-item .bc-wrapper-inner__title h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.coachview-search__spinner i {
    font-size: 1.2rem;
    color: var(--bc-blue);
    transform-origin: center;
    animation: coachview-spin 0.8s linear infinite;
}

.coachview-search__more-items {
    display: flex;
}

.coachview-search__bar {
    flex-wrap: wrap;
}

.coachview-search__bar button {
    white-space: nowrap;
}

.coachview-search__filter-pill {
    pointer-events: none;
    position: relative;
    padding: .75rem 1rem;
    border: 1px solid var(--bc-blue-grey);
    border-radius: 4px;
    color: var(--bc-blue-grey);
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
}

.coachview-search__filter-pill-button {
    pointer-events: auto;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background: var(--bc-blue-grey);
    width: 1rem;
    height: 1rem;
    color: white;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    outline: 0;
    font-size: 0.4rem;
    text-align: center;
}

.coachview-search__filter-pill-button:hover,
.coachview-search__filter-pill-button:active {
    color: var(--bc-blue-grey-light);
    background: var(--bc-blue-grey);
    border: 1px solid var(--bc-blue-grey);
}

@keyframes coachview-spin {
    to {
        transform: rotate(360deg);
    }
}