
a.training-card {
    background: #FFF;
    border-radius: 12px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    text-decoration: none !important;
}

.training-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.training-card-image {
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
    position: relative;
}

.training-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160%;
    height: 50%;
    background: radial-gradient(
            ellipse at center top,
            transparent 50%,
            #FFF 51%
    );
    transform: translateX(-19%) translateY(25%)
}

.card-content {
    padding: 1rem 1.25rem;
}

.card-category {
    color: var(--cv-color-teal-dark);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.card-title {
    color: var(--cv-color-blue-dark);
    font-size: 1rem;
    font-weight: 700;
    margin: 0.25rem 0 0.5rem;
}

.card-text {
    color: var(--cv-color-blue-dark);
    font-size: 0.875rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.875rem;
    color: #002b45;
    border-top: 1px solid var(--cv-color-teal-light);
    padding-top: 0.75rem;
    gap: .5rem;
}

.metadata {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: nowrap;
    min-width: 80px;
}

.metadata span {
    display: inline-block;
    color: var(--cv-color-teal-dark);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metadata img {
    width: 20px;
}
