{{ header|raw }}

<div class="coachview-search">
    <!-- Main Content -->
    <div class="coachview-search__content">
        <!-- Filter bar -->
        <div class="coachview-search__bar">
            <button class="coachview-search__open-filters cv-button cv-button-cta">
                Filters
            </button>
            <!--        <input type="text" class="coachview-search__input" placeholder="Search products…">-->
        </div>

        <!-- Results Area -->
        <section class="coachview-search__results">
            <div class="coachview-search__spinner"></div>
        </section>
    </div>


    <!-- Filters -->
    <div class="coachview-search__filters-wrapper">
        <aside class="coachview-search__filters">
            <h3 class="coachview-search__filters-title">
                Filters
                <a class="coachview-search__close-filters" href="#close">×</a>
            </h3>
            {{ category_list|raw }}
        </aside>
    </div>

</div>


{{ footer|raw }}
